{
    -fx-dark:#2A2E37;
    -fx-yellow: #FFFF8D;
    -fx-gray:#B2B2B2;
    -fx-red : #FF4A4A;
    -default-color: #009688;
}

.icon {
    -fx-fill: -fx-dark;
}

.alert-text{
    -fx-fill: -fx-red;
}

.menu-icon:hover
{
    -fx-fill: -fx-yellow;
}

.button{
    -fx-text-fill: -fx-gray;
}
.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-gray;
}

.label {
    -fx-text-fill: -fx-dark;
}


/*Login Screen Styles*/
.common-button:hover
{
    -fx-border-color: -fx-yellow;
    -fx-background-color: -fx-yellow;
    -fx-text-fill:  -fx-dark;

}
.common-button{
    -fx-border-color: -fx-yellow;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-yellow;
    -fx-font-size: 13pt;
}

.forgot-button
{
    -fx-background-color: transparent;
    -fx-text-fill:  -fx-gray;
    -fx-border-color: -fx-gray;
    -fx-border-width: 0 0 1 0;
}
.forgot-button:hover{
    -fx-text-fill: -fx-yellow;
    -fx-border-color: -fx-yellow;

}

.check-box{
    -fx-text-fill: -fx-gray;
    -fx-font-size: 15;

}
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-gray;
    -fx-border-width: 1px;
}


.text-field
{
    -fx-text-fill: -fx-gray;
    -fx-font-size : 13pt;
    -focus-color: -fx-yellow;
}

.wrong-login-data
{
    -unfocus-color: -fx-red;
    -focus-color: -fx-red;
}


.custom-background {
    -fx-background-color: linear-gradient(to right, -fx-yellow, -fx-dark);
}

/* Main Screen Style */

.tab-pane > .tab-header-area {
    -fx-padding: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: #E1E1E1, white;
    -fx-background-insets: 0, 0 0 1px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: white;
    -fx-background-insets: 0 0 1px 0;
    -fx-padding: 1.5em 1em;
}

.tab-pane > .tab-header-area > .headers-region > .tab >.tab-container >.tab-label {
    -fx-text-fill: #63B5F6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #2092ED, white;
    -fx-background-insets: 0, 0 0 2px 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.tab-label {
    -fx-text-fill: #2095F3;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected >.tab-container >.focus-indicator {
    -fx-opacity: 0;
}

.chart .chart-content .chart-plot-background {
    -fx-blend-mode: none;
    -fx-region-background: none;
}